<form id="search" method="{{ method or 'POST' }}" action="{{ url_for('search') }}" role="search">
  <div id="search_header">
    <a id="search_logo" href="{{ url_for('index') }}" tabindex="0" title="Back to home">
      ⚛ Atomic
    </a>
    <div id="search_view">
      <div class="search_box">
        <input id="q" name="q" type="text" placeholder="Search the web privately..." tabindex="1" autocomplete="off" autocapitalize="none" spellcheck="false" autocorrect="off" dir="auto" value="{{ q or '' }}" autofocus>
        <button id="clear_search" type="reset" aria-label="clear" title="Clear search">✕</button>
        <button id="send_search" type="submit" aria-label="search">🔍 Search</button>
      </div>
    </div>
  </div>
  <div class="search_filters">
    {% include 'simple/filters/languages.html' %}
    {% include 'simple/filters/time_range.html' %}
    {% include 'simple/filters/safesearch.html' %}
  </div>
  <input type="hidden" name="theme" value="{{ theme }}">
  {% if timeout_limit %}<input type="hidden" name="timeout_limit" value="{{ timeout_limit|e }}">{% endif %}
</form>

